:root {
  --primary: #8692a6;
  --green: #5fca95;
  --primaryDark: #696f79;
  --lightGray: #fbf9f9;
  --lightGray2: #d5dbe5;
  --orange: #ffce84;
  --brown: #8f5c00;
  --red: #c74b3b;
}

$mediaBp-xxl: 1400px;
$mediaBp-xl: 1200px;
$mediaBp-l: 992px;
$mediaBp-m: 768px;
$mediaBp-s: 576px;
