@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import "./styles/variables";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--lightGray);
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  font-family: "Poppins", sans-serif;
}

.as {
  background-color: red;
}
